*{
    padding: 0px;
    margin: 0px;
}



/* banner section style */

.banner-img{
    width: 300px;
    /* padding-left: 80px; */
}

.banner-containar{
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    

}

.banner-text{
    padding-left: 120px;
    color: #272727;
    gap: 10px;
    
    
}


.btn{
    margin-top: 15px;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    border: none;
    color: white;

}
.banner-titel{
    font-size: 50px;
    font-weight: boid;
    margin-bottom: 15px;
    
}


.banner-description{
    text-align:left;
}
.banner-photo{
    padding-right: 50px;
}