*{
    padding: 0px;
    margin: 0px;
}
/* common shared style  */

body{
    font-family: 'Belanosima', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/*1. banner section style */

.banner-img{
    width: 300px;
    
}

.text-prymay{
    color:#E55473;
}

.banner-containar{
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    

}

.banner-text{
    padding-left: 120px;
    color: #272727;
    gap: 10px;
    
    
}


.btn{
    margin-top: 15px;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    border: none;
    color: white;

}
.banner-titel{
    font-size: 50px;
    font-weight: boid;
    margin-bottom: 15px;
    
}


.banner-description{
    text-align:left;
}
.banner-photo{
    padding-right: 50px;
}


/*2. offer section  */

.offer-section{
    background-color:#E554731A;
    display: flex;
    margin-top: 50px;
    align-items: center;
    height: 400px;
    justify-content: space-between;
}


.off-text{
    text-align: center;
    padding-left: 200px;
    color: #272727;
    gap: 10px;
}

.offer-img{
    width: 180px;
    padding: 100px 200px 100px 200px  ;
}

.off-description{
    margin-top: 15px;
    margin-bottom: 15px;
}


/* 3.Instragram section  */

.social-section{
margin-top: 50px;
}
.titel-head{
    color: #272727;
    text-align: center;
    margin-bottom: 15px;



   
   
}

.social-section{
    padding: 50px 240px;
    text-align: center; 
    
}

.social-img >img{
    width: 200px;
    height: 250px;
    padding: 2px;
    
    
}
.social-img{
    padding-left: 240px;
    padding-right: 240px;
    align-items: center;
    display: inline;
   
    
}

/* 4. setion  */

.bg-container{
    margin-top: 50px;
   background-color: #c7a4a4;
    
    
    
}
.bg-titel{
    padding: 15px;
    text-align: center;
    width: 8%auto;
    justify-content: center;
    justify-content: space-between;
}

.input-fild{
    display: flex;
    align-items: center;
    
}


.footer-containt{
    color: aliceblue;
    background-color: black;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}



